@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 0.1rem;
}

#img-bg{
    background-image: url(https://image.freepik.com/free-photo/office-table-with-laptop-computer-notebook-digital-tablet-smartphone-white-background_67092-181.jpg);

    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-transform: uppercase;
    font-size: 16px;
}