<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">cadastro</h1>

                    <div class="form-group mb-4">
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="nome">
                    </div>
                    <div class="form-group mb-4">
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="usuario">
                    </div>
                    <div class="form-group mb-4">
                        <input class="form-control" type="text" name="foto" id="foto" placeholder="link da sua foto">
                    </div>
                    <div class="form-group mb-4">
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="senha">
                    </div>
                    <div class="form-group mb-4">
                        <input class="form-control" type="password" name="confirmeSenha" id="confirmeSenha" placeholder="confirme sua senha">
                    </div>
                    <div class="form-group mb-4">
                       <select class="form-control" name="tipo" id="tipo">
                           <option>selecione um tipo de usuario</option>
                           <option value="normal">normal</option>
                           <option value="adm">administrador</option>
                       </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger me-3 rounded-circle" routerLink='/entrar'>cancelar</button>
                        <button type="submit" class="btn btn-primary rounded-border">cadastrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>