#img-bg{
    background-image: url(https://image.freepik.com/free-photo/office-table-with-laptop-computer-notebook-digital-tablet-smartphone-white-background_67092-181.jpg);

    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control{
    outline: 0;
    border-width: 0 0 1.8px;
    border-color: rgba(0,0,0,.5);

    padding: 12px 15px; /* topo | direita | inferior | esquerda */
    margin: 8px 0;

    font-size: 15px;   
}
